# Problem 1

In [1]:
def factorial(val):
    if val > 0:
        total = 1
        for i in range(1,val + 1):
            total = total * i
        return total
    else:
        return -1

# Problem 2

In [2]:
with open("C:/Users/joshj/Documents/DS730-High-Performance-Computing/Week 1/numbers.txt") as file:
    lines = file.readlines()

    #split the number by space.
lines = lines[0].split(" ")
    
    #init the sum counter.
sum = 0

    #add all the numbers together.
for num in lines:
    sum = sum + int(num)

    #print the average.
print(sum/len(lines))

3.0

# Problem 3

In [3]:
with open("C:/Users/joshj/Documents/DS730-High-Performance-Computing/Week 1/primes.txt") as file:
    lines = file.readlines()
    
    #split numbers by space.
lines = lines[0].split(" ")

    #determine which number is the begin and end for range.
if int(lines[0]) < int(lines[1]):
    begin = int(lines[0])
    end = int(lines[1])
else:
    begin = int(lines[1])
    end = int(lines[0])

    #create the list of numbers
primes = list(range(begin,end+1))

    #for each number, check if its divisible by any other number. If so, then remove from list and move onto next number.
for num in range(begin, end+1):
    for divisor in range(2,num):
        if num % divisor == 0:
            primes.remove(num)
            break

if len(primes) == 0:
    print("No Primes")
else:
    print(primes)

[5, 7, 11, 13, 17, 19, 23]

In [4]:
output = ""
for i in range(0,len(primes)):
    output = output + str(primes[i]) + ":"

output

'5:7:11:13:17:19:23:'

In [5]:
output = ""
counter = 1
for i, num in enumerate(primes,1):
    if i == 1:
        output = output + str(primes[i]) + ":"
    elif i == 2:
        output = output + str(primes[i]) + "!"
    elif i == 3:
        output = output + str(primes[i]) + "&"

        
output

'7:11!13&'

# Problem 4

In [6]:
import pandas as pd
weather = pd.concat(map(pd.read_csv,["C:/Users/joshj/Documents/DS730-High-Performance-Computing/Week 1/Weather/ABCWeather.csv"
                                        ,"C:/Users/joshj/Documents/DS730-High-Performance-Computing/Week 1/Weather/KLMWeather.csv"
                                        ,"C:/Users/joshj/Documents/DS730-High-Performance-Computing/Week 1/Weather/PQRWeather.csv"
                                        ,"C:/Users/joshj/Documents/DS730-High-Performance-Computing/Week 1/Weather/XYZWeather.csv"]))

weather.head()

   Year  Month  Day   TimeCST  TemperatureF Wind SpeedMPH City
0  2000      1    1  12:53 AM        35.996          11.5  ABC
1  2000      1    1   1:53 AM        37.004           6.9  ABC
2  2000      1    1   2:53 AM        35.996           5.8  ABC
3  2000      1    1   3:53 AM        33.998          Calm  ABC
4  2000      1    1   4:53 AM        28.904          Calm  ABC

In [7]:
import numpy as np
    #change any wind speeds from "calm" to 0.
    #change wind speeds to numeric.
    #change any wind speeds below 0 to NaN.
weather['Wind SpeedMPH'] = weather['Wind SpeedMPH'].replace(['Calm'],"0")
weather['Wind SpeedMPH'] = pd.to_numeric(weather['Wind SpeedMPH'])
weather.loc[weather['Wind SpeedMPH'] < 0, 'Wind SpeedMPH'] = np.nan

    #change any temps less than -200 to NaN.
weather.loc[weather['TemperatureF'] <= -200, 'TemperatureF'] = np.nan

In [8]:
    #first locate all the rows where the year = 2006 and the month = 3 (i.e. march)
    #next do a .groupby() function and group it by city.
    #finally, we want the average wind speed for those cities. 
weather.loc[(weather["Year"] == 2006) & (weather["Month"] == 3)].groupby("City")["Wind SpeedMPH"].mean()

City
ABC    9.035556
KLM    9.035513
PQR    8.303386
XYZ    8.270142
Name: Wind SpeedMPH, dtype: float64

In [9]:
    #first locate all the rows where the year = 2006
    #next do a .groupby() function and group it by city.
    #finally, we want the average temperature for those cities. 
weather.loc[(weather["Year"] == 2006)].groupby("City")["TemperatureF"].mean()

City
ABC    52.252008
KLM    49.648439
PQR    52.251981
XYZ    48.063079
Name: TemperatureF, dtype: float64